*{
   margin:  0;
   padding:  0;
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
}
#root {
  padding: 0;
  margin: 0;
}
div .container {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
.carousel-item {
  height: 92vh;
  min-height: 300px;
}
.carousel-caption {
  top: 60%;
  transform: translateY(-50%);
  bottom: 220px;
}
.carousel-caption h1 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
/*.carousel {
   height: 80vh;
   justify-content: center;
   display: flex;
   margin-left: auto;
   margin-right: auto;

}
.carousel-item {
  max-height:  100%;
  width: auto;
}*/


/*.productCard1 {
  max-height: 100%;

}

body {
   background-color: gray;
}
.navbar {
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    background-color: #fafafa;
    margin-bottom: 25px;
}
*/

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
